@font-face {
  font-family: "signature";
  src: url("/fonts/signature.ttf") format("truetype");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontally center */
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(246, 241, 237);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 100px;
  font-family: signature;
  color: rgb(239, 126, 145);
  line-height: 1.1;
  text-align: center;
  width: 100%;
  margin: 2rem 0;
  position: relative; 
  transform: none;
}

a {
  font-weight: 500;
  color: rgb(239, 126, 145);
  text-decoration: inherit;
}

a:hover {
  color: rgb(239, 126, 145);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: black;
  background-color: rgba(239, 126, 145, 0.1);
  cursor: pointer;
  transition: border-color 0.25s;
  gap: 2rem;
}

button:hover {
  border-color: rgb(239, 126, 145);
}

button:focus {
  border-color: rgb(239, 126, 145);
  background-color: rgba(239, 126, 145, 0.1);
}


.filter-buttons {
  display: flex; 
  gap: 1rem; 
  justify-content: center; 
  flex-wrap: wrap;   
  margin-bottom: 2rem; 
}



.gallery {
  display: grid;
  gap: 2rem;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  column-count: 3; 
  column-count: 3; 
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gallery img {
  width: 90%;   
  height: auto;  
  object-fit: cover;
  border-radius: 8px; 
}

