:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="range"] {
  -webkit-appearance: none; /* For WebKit browsers like Chrome, Safari */ /* For Mozilla Firefox */
  appearance: none;         /* Standard property */
 /* Make the background transparent */
  cursor: pointer;          /* Change cursor on hover */
  border: none;             /* Remove default border */
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #d3e2ff; /* Example background color */
  height: 5px;      /* Example height */
  border-radius: 4px;
}



input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Reset default thumb appearance */
  appearance: none;
  background: #007bff; /* Example background color */
  width: 16px;         /* Example width */
  height: 16px;        /* Example height */
  border-radius: 50%;  /* Make it circular */
  margin-top: -4px;    /* Adjust vertical position for WebKit */
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
