nav {
    padding: 10px 20px;
    text-align: center;
    z-index: 1000;
  }
  
 nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  
  li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
  }
  
  li a:hover {
    color: #648f6d;
  }

  